body {
    background-image: url("background.jpg");
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

#currentDay {
    font-size: 25px;
    font-weight: 600;
    animation: blinkingText 10s infinite;
}

@keyframes blinkingText {
    0% {
        color: rgb(243, 55, 55);
    }
    49% {
        color: #db9494;
    }
    50% {
        color: #06AED5;
    }
    99% {
        color: #ecc790;
    }
    49% {
        color: rgb(219, 148, 148);
    }
    100% {
        color: #f33737;
    }
}

.blue {
    margin: auto;
    position: relative;
    width: 650px;
    height: auto;
}

.green {
    color: white;
    margin: auto;
    width: auto;
    height: auto;
}

.red {
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f33737;
    color: white;
    border: white 2px solid;
    float: left;
    padding: 30px;
    width: 150px;
    height: 95px;
    text-align: center;
}

.gray {
    font-size: 20px;
    z-index: 1;
    color: white;
    float: left;
    background-color: gray;
    border: white 2px solid;
    padding: 10px;
    width: 300px;
    text-align: center;
    height: 95px;
}

.gray:hover {
    background: linear-gradient(#f33737, #db9494);
    color: seashell;
    font-weight: 300;
}

.yellow {
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    border: white 2px solid;
    padding: 25px;
    width: 150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    text-align: center;
    height: 95px;
    position: relative;
    display: inline-block;
    background-image: linear-gradient(rgb(0, 41, 128), #06AED5);
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.yellow:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.yellow:hover {
    background: linear-gradient(#f33737, #db9494);
    color: seashell;
    font-weight: 300;
}

@media screen and (max-width:768px) {
    .blue {
        width: 95%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .green {
        margin: 0px;
        padding: 0px;
    }
    .gray {
        width: 440px;
    }
}

@media screen and (max-width: 576px) {
    .blue {
        width: 95%;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .green {
        margin: 0px;
        width: auto;
        padding: 0px;
    }
    .red {
        width: 100px;
    }
    .gray {
        width: 340px;
    }
    .yellow {
        width: 100px;
    }
}