body {
    background-image: url("background.jpg");
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

#currentDay {
    font-size: 25px;
    font-weight: 600;
    animation: blinkingText 10s infinite;
}

@keyframes blinkingText {
    0% {
        color: rgb(243, 55, 55);
    }
    49% {
        color: rgb(219, 148, 148);
    }
    50% {
        color: #06AED5;
    }
    99% {
        color: #ecc790;
    }
    49% {
        color: rgb(219, 148, 148);
    }
    100% {
        color: #f33737;
    }
}

.blue {
    margin: auto;
    position: relative;
    width: 650px;
    height: auto;
}

.green {
    color: white;
    margin: auto;
    width: auto;
    height: auto;
}

.red {
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f33737;
    color: white;
    border: white 2px solid;
    float: left;
    padding: 30px;
    width: 100px;
    height: 95px;
    text-align: center;
}

.gray {
    font-size: 20px;
    z-index: 1;
    color: white;
    float: left;
    background-color: gray;
    border: white 2px solid;
    padding: 10px;
    width: 400px;
    text-align: center;
    height: 95px;
}

.yellow {
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    float: left;
    border: white 2px solid;
    padding: 25px;
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    text-align: center;
    height: 95px;
}

.yellow:hover {
    background-color: #f33737;
    color: seashell;
    font-weight: 300;
}